.navbar {
    padding:15px;
    background-color: black;  
    font-family: 'Comforter Brush', cursive;  
}
#logo {
  color:yellow;
    font-size: 1.8rem;
}
#loguito {
    color: orange;
    margin-left:20px
}
#logo:hover {
  color:yellow
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
 }
 @-webkit-keyframes flash {
  0%, 50%, 100% {
  opacity: 1;
  }
 25%, 75% {
  opacity: 0;
  }
 }
 @keyframes flash {
  0%, 50%, 100% {
  opacity: 1;
  }
 25%, 75% {
  opacity: 0;
  }
 }
 .flash {
  -webkit-animation-name: flash;
  animation-name: flash;
 }


/* AUTO NARANJA */
#auto1 {
    position:absolute;
    height:50px;
    width:auto;
    animation-duration: 6s;
    animation-name: slidein1;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}
@keyframes slidein1 {
    from {
      left: -200px;
    }  
    to {
      left: 2000px;      
    }
}
/* AUTO FUCSIA */
#auto2 {
    position:absolute;
    height:95px;
    width:auto;
    animation-duration: 8s;
    animation-name: slidein2;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}
@keyframes slidein2 {
    from {
      left: 2200px;
    }  
    to {
      left: -200px;      
    }
}
/* AUTO VERDE OSCURO */
#auto3 {
    position:absolute;
    height:55px;
    width:auto;
    animation-duration: 7s;
    animation-name: slidein3;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}
@keyframes slidein3 {
    from {
      left: -200px;
    }  
    to {
      left: 2200px;      
    }
}
/* VERDE CLARO */
#auto4 {
    position:absolute;
    height:90px;
    width:auto;
    animation-duration: 5s;
    animation-name: slidein4;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}
@keyframes slidein4 {
    from {
      left: 2200px;
    }  
    to {
      left: -200px;      
    }
}
