<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a id="logo" class="navbar-brand" href="#">Auticos <i class="bi bi-car-front"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <img id="auto1" src="../../../assets/img/auto3.png" alt="">
      <img id="auto2" src="../../../assets/img/auto7.png" alt="">
      <img id="auto3" src="../../../assets/img/auto1.png" alt="">
      <img id="auto4" src="../../../assets/img/auto9.png" alt="">
      <!---
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a id="sublogo" class="nav-link active" aria-current="page" href="#">(Muestrario de autos)</a>
          </li>                
        </ul>
      </div>
      --->
    </div>
  </nav>

  
